*.pdf
*.gz
*.aux
*.log
*.class
*~
*.java#
*.bin
*.out


bin/
out/
gen/

local.properties
*.apk
*.ap_
.navigation/

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
/.nb-gradle/
\.gradle/
local.properties

*.gradle

build/
/tetris/.nb-gradle/
tetris/nbproject/project\.properties

\.idea/
